<div class="row">
  <ul class="collection with-header">
    <li class="collection-header">
      <h4>Available items</h4>
    </li>
    <li
      class="collection-item animate"
      ng-repeat="item in data"
      ng-class="{
        'amber lighten-4': leftpanel.isFibonacci($index + 1),
        'red lighten-4': $first,
        'light-blue lighten-4': leftpanel.isMiddle($index),
        'light-green lighten-4': $last,
      }"
      ng-show="item.display || !displayFilter"
    >{{leftpanel.parseData(item)}}
    </li>
  </ul>
</div>  